<!-- body -->
<table class="body-wrap" bgcolor="#f6f6f6" style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 20px;">
  <tr style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
    <td style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    <td class="container" bgcolor="#19222D" style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; display: block !important; max-width: 600px !important; margin: 0 auto; border: 1px solid #f0f0f0; height: 580px; background-image: url('https://www.kryptnostic.com/assets/email_bkg.png'); background-repeat: no-repeat; background-position: bottom;">

      <!-- content -->
      <div class="content" style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; display: block; max-width: 600px; margin: 0 auto; padding: 0;">
        <table style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 0;">
          <tr style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
            <td style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
              <div>
                <img style="height: 37px; width: 190px; display: block; margin-left: 20px; margin-top: 10px;" src="https://www.kryptnostic.com/assets/ei_asset_logo.png">
              </div>
              <div style="margin-top: 70px;">
                <img style="height: 117px; width: 117px; border-radius: 100%; margin: auto; display: block;" src="{{avatar-path}}">
              </div>
              <h2 style="font-family: 'Lato', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 21px; line-height: 1.2em; color: rgb(237,241,244); font-weight: 200; margin: 50px 0 10px; padding: 0; text-align: center;">{{name}}</h2>
              <h2 style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; color: rgb(188,188,188); font-size: 21px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0; text-align: center;">Invites you to join Kodex!</h2>
              <!-- button -->
              <table class="btn-primary" cellpadding="0" cellspacing="0" border="0" style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: auto !important; margin: 0 auto; padding: 40px 0 0 0;">
                <tr style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                  <td style="font-family: 'Lato', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; line-height: 1.6em; border-radius: 25px; text-align: center; vertical-align: top; background: rgb(69,109,180); margin: 0; padding: 0;" align="center" valign="top">
                    <a href="{{registration-url}}" style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 20px; font-weight: 300; line-height: 2; color: #ffffff; display: inline-block; cursor: pointer; text-decoration: none; margin: 0; padding: 0; cursor: pointer; border-color: rgb(69,109,180); border-style: solid; border-width: 10px 20px;">Get Started Now</a>
                  </td>
                </tr>
              </table>
              <!-- /button -->
            </td>
          </tr>
        </table>
      </div>
      <!-- /content -->
    </td>
  </tr>
</table>
