{{>mail/templates/shared/header.mustache}}

<table class="body-wrap" bgcolor="#EDF1F4" style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 20px; height: 370px;">
  <tr style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
    <td style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;"></td>
    <td class="container" bgcolor="#EDF1F4" style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; clear: both !important; display: block !important; max-width: 600px !important; margin: 0 auto; padding: 20px; border: 1px solid #f0f0f0; height: 200px;">
      <!-- content -->
      <div class="content" style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; display: block; margin: 0 auto; padding: 0; height: 400px;">

        <table style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 90%; margin: 0 auto; padding: 0; border-collapse: collapse;">
          <tbody style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 90%; margin: 0 auto; padding: 0; border: none;">
            <tr style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
              <td bgcolor="#19222D" style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; background-image: url('https://www.kryptnostic.com/assets/nur-web-1x.png'); background-repeat: no-repeat; background-position: top right; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; height: 115px; box-shadow: 0px 0px 10px rgba(0,0,0,.6);">
                <div>
                  <img style="height: 54px; width: 250px; margin-left: 30px; padding-top: 10px; display: block;" src="https://www.kryptnostic.com/assets/confirm_logo.png">
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="content" style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; display: block; margin: 0 auto; padding: 0;">
          <table style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 87%; margin: 0 auto; padding: 0; border-collapse: collapse;">
            <tbody style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 90%; margin: 0 auto; padding: 0; border: none;">
            <tr style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
              <td bgcolor="white" style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0; box-shadow: 0px 0px 10px rgba(0,0,0,.5); height: 120px; border: 1px solid #D8D8D8;">
                <div>
                  <h2 style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: 500; text-align: center; font-size: 22px; color: #1B1B1B; margin: 20px 20px 0 20px">New User Registered with Email:</h2>
                  <h2 style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: 500; text-align: center; font-size: 22px; color: #446CB3; margin: 10px;">{{email}}</h2>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="content" style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; display: block; max-width: 681px; margin: 0 auto; padding: 0;">
          <table style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: 100%; margin: 0; padding: 0;">
            <tr style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
              <td bgcolor="#EDF1F4" style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
                <div>
                  <p style="font-family: 'Lato', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: 500; text-align: center; padding-top: 20px; font-size: 12px; color: #232323;">Copyright 2016 Kryptnostic, All Rights Reserved. Terms, Privacy</h2>
                </div>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </td>
  </tr>
</table>


{{>mail/templates/shared/footer.mustache}}
